body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.country__card {
  margin-left: 20px;
  display: flex;
}

.country__list {
  margin-left: 20px;
}

.country__flag {
  margin-left: 20px;
  border: 2px solid black;
}

.form {
  width: 280px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
